@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0 auto;
    padding: 0;
    font-family: "Inter" , sans-serif;
}
.hero{
    background-color: rgba(243, 252, 247, 1);
    padding-bottom: 1.785rem;
    
}
.hero-header{
    padding: 1.5rem 1.875rem;
    display: flex;
    justify-content: space-between;
}
.hero-header > .logo{
    color: rgba(6, 193, 103, 1);
    font-size: 2rem;
    font-weight: 500;
}
nav > ul{
    font-size: 0.9rem;
    list-style: none;   
}
nav a{
    text-decoration: none;
    color: #000000;
}
.hero-body{
    margin: 0 1.8rem;
    display: flex;
    flex-wrap: wrap;
}
.hero-body-info{
    max-width: 533px;
}
.hero-body-info > h1{
    color: rgba(29, 29, 31, 1);
    font-size: 3.25rem;
    text-align: center;
    font-weight: 500;
}
.hero-body-info > p{
    color: rgba(29, 29, 31, 1);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    line-height: 159%;
    margin-top: 1.5rem;
}
.hero-body-info > button{
    width: 317.41px;
    height: 68px;
    background-color: rgba(6, 193, 103, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29.5px;
    margin-top: 3.1325rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.9365rem;
}
.hero-body-info > button > p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
}
.hero-body-img{
    width: 320px;
    height: 470px;
    margin: 0 auto;
}
.brand1, .brand2, .brand3{
    display: block;
} 
.brand4 , .brand5{
    display: none;
}
.brands{
    max-width: 86%;
    height: 87.37px;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}
.brand1{
    width: 144.67px;
    height: 32px; 
}
.brand2{
    width: 147.97px;
    height: 32px;  
}
.brand3{
    width: 144.06px;
    height: 32px;
}
.services{
    width: 88%;
    margin: 3.696rem auto 0;
    padding: 3rem 0;
    border-top: 1px solid rgba(112, 112, 112, 0.5) ;
    border-bottom: 1px solid rgba(112, 112, 112, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 3rem;
}
.service1{
    width: 148px;
    height: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service2{
    width: 148px;
    height: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service3{
    width: 148px;
    height: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service4{
    width: 148px;
    height: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-icon{
    width: 70px;
    height: 70px;
    background-color: rgba(243, 252, 247, 1);
    border: 0;
    border-radius: 12px;
    padding: 23.5px 20px;
}
.service-details{
    text-align: center;
}
.services h4{
    color: rgba(29, 29, 31, 1);
    font-size: 1.125rem;
    font-weight: 400;
    padding-top: 1.3125rem;
    padding-bottom: 0.4375rem;
}
.services p{
    color: rgba(29, 29, 31, 1);
    font-size: 0.875rem;
    font-weight: 400;
    opacity: 0.7;
}
.benefit{
    max-width: 88%;
    margin: 2.40625rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.benefit-img{
    width: 320px;
    height: 465px;
    background-color: rgba(243, 250, 251, 1);
    margin-bottom: 3.5625rem;
    border: 0;
    border-radius: 15px;
    padding: 1.5rem;
}
.benefit-details > p{
    font-size: 0.9375rem;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 0.8rem;
}
.benefit-details > h1{
    font-size: 2.1875rem;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 3.25rem;
}
.benefit-check-container{
    width: 275px;
    margin: 0 auto;
}
.benefit-checks{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 1.25rem;
}
.benefit-checks > p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
}
.star-product{
    margin: 4.365rem auto 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.star-img{
    width: 320px;
    height: 521px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(243, 250, 251, 1);
    padding-top: 1rem;
}
.star-product-details > p{
    font-size: 0.94rem;
    font-weight: 500;
    margin-top: 2.1875rem;
    margin-bottom: 0.8125rem;
}
.star-product-details > h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3.31rem;
}
.star-info{
    margin-bottom: 2.4375rem;
}
.star-info > h1{
    color:rgba(6, 193, 103, 1) ;
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 0.9rem;
}
.star-info > p{
    color: rgba(29, 29, 31, 1);
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.7;
}
.star-product-details > button{
    width: 320px;
    height: 68px;
    background-color: rgba(6, 193, 103, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
}
.star-product > button > p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
}
.features{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.features > p{
    font-size: 0.9375rem;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 0.8rem;
}
.features > h1{
    font-size: 2.2rem;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 4rem;
}
.feature-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.feature-card{
    width: 320px;
    height: 585px;
    display: flex;
    flex-wrap: wrap;
}
.feature-card > img{
    width: 320px;
    height: 292.5px;
}
.card-details{
    height: 292.5px;
    background-color: rgba(240, 241, 236, 1);
    border: 1px solid rgba(6, 193, 103, 1);
    text-align: center;
    padding-left: 2.375rem;
    padding-top: 2.375rem;
    padding-right: 3.5rem;
}
.card-details > h1{
    font-size: 2rem;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 1.5rem;
    text-align: start;
}
.card-details > p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2.4rem;
    text-align: start;
}
.card-details > button{
    width: 148px;
    height: 42px;
    background-color: rgba(240, 237, 226, 1);
    color: rgba(6, 193, 103, 1);
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.products{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    text-align: center;
}
.products > p{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 0.8rem;
}
.products > h1{
    padding: 0 2rem;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.product-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-card{
    width: 320px;
    height: 445px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(118, 118, 117, 0.25);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-card:nth-child(1){
    border-color: rgba(6, 193, 103, 1);
}
.product-card > img{
    width: 190px;
    height: 190px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.product-card > h1{
    font-size: 20px;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
    margin-top: 21.42px;
    margin-bottom: 25px;
}
.product-card > .prices{
    width: 85px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 29px;
}
.price-1{
    color: rgba(118, 118, 117, 1);
    text-decoration: line-through;
    opacity: 0.4;
}
.price-2{
    color: rgba(6, 193, 103, 1);
}
.product-card > button{
    width: 177px;
    height: 57px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(6, 193, 103, 1);
    border: 2px solid rgba(6, 193, 103, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.explore{
    background-image: url(./images/explore-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.25rem 2rem ;
    margin-top: 4.25rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 3.25rem;
}
.explore > h1{
    font-size: 2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 3.25rem;
}
.explore > button{
    width: 293px;
    height: 79px;
    background-color: rgba(6, 193, 103, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
}
.explore > button >p{
    font-size: 1rem;
    font-weight: 400;
}
footer{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}
footer > .shop-details{
   margin: 0 auto;
   padding: 0 2.5rem;
   text-align: center;
}
footer > .shop-details > h1{
    color: rgba(6, 193, 103, 1);
    font-size: 2rem;
    font-weight: 500;
}
footer > .shop-details > p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
footer > .shop-details > .social-links{
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer > .about{
    width: 107px;
    height: 194px;
    display: flex;
    flex-direction: column;
    margin-top: 79.02px;
    margin-left: auto;
    margin-right: auto;
}
footer > .company{
    width: 110px;
    height: 194px;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
footer h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 41px;
}
footer .links{
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer .links > a{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
    text-decoration: none;
}
footer .get-in-touch{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
footer .get-in-touch > p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
    text-align: center;
    margin-bottom: 39px;
}
footer .subscription{
    width: 320px;
    height: 114px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .subscription > input{
    height: 54px;
    background-color: rgba(240, 241, 236, 1);
    color: rgba(29, 29, 31, 1);
    text-align: center;
    border: 0;
}
footer .subscription > button{
    width: 320px;
    height: 50px;
    background-color: rgba(6, 193, 103, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    align-self: center;
    text-align: center;
}
footer .subscription > button > p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
footer > p{
    font: 1rem;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
    margin-top: 81px;
    text-align: center;
}

@media screen and (min-width: 1400px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        max-width: 1440px;
        margin:0 auto;
        font-family: "Inter" , sans-serif;
    }
    .hero{
        display: flex;
        flex-direction: column;
        gap: 65.9px;
        padding: 0 8.4rem;
    }
    .hero-header{
        padding: 0;
        margin-top: 2.6rem;
        margin-bottom: 4rem;
    }
    .hero-header nav ul{
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 40px;
        margin-top: 11px;
        margin-right: 0;
    }
    .hero-body{
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
    }
    .hero-body-info{
        width: 533px;
        padding-top: 3rem;
    }
    .hero-body-info h1{
        font-size: 4.69rem;
        font-weight: 600;
        text-align: left;
    }
    .hero-body-info > p{
        text-align: left;
        margin-top: 10.9px;
        margin-bottom: 29.96px;
    }
    .hero-body-info button{
        width: 200px;
        height: 67.9px;
        align-self: flex-start;
        margin: 0;
        border-radius: 12px;
    }
    .hero-body-info button p{
        text-align: center;
    }
    .hero-body-img{
        width: 468px;
        height: 515.25px;
        margin: 0;
    }
    .hero-body-img img{
        width: 468px;
        height: 515.25px;
    }
    .brands{
        justify-content: space-between;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .brand1{
        width: 212.47px;
        height: 49px;
    }
    .brand2{
        width: 202.48px;
        height: 49px;
    }
    .brand3{
        width: 204.59px;
        height: 49px;
    }
    .brand4{
        display: block;
        width: 202.68px;
        height: 49px;
    }
    .brand5{
        display: block;
        width: 212.47px;
        height: 49px;
    }
    .service1{
        width: 209px;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
    }
    .service2{
        width: 240px;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
    }
    .service3{
        width: 214px;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
    }
    .service4{
        width: 205px;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
    }
    .service-details{
        text-align: left;
        padding-bottom: 10px;
    }
    .benefit{
        max-width: 81.5%;
        max-height: 560.25px;
        justify-content: start;
        gap: 6.75rem;
        text-align: left;
        margin-top: 155.74px;
        margin-bottom: 206.17px;
    }
    .benefit-img{
        width: 493px;
        height: 560.26px;
        margin-bottom: 0;
    }
    .benefit-img img{
        width: 445px;
        height: 512.26px;
    }
    .benefit h1{
        font-size: 3.75rem;
    }
    .benefit-details{
        width: 537px;
        padding-top: 4rem;
    }
    .benefit-check-container{
        margin: 0;
    }
    .star-product{
        max-width: 81.5%;
        max-height: 607.12px;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: left;
        margin-top: 206.17px;
        margin-bottom: 174,79px;
    }
    .star-img{
        width: 541px;
        height: 607.12px;
        margin-bottom: 0;
        padding: 3rem;
    }
    .star-img img{
        width: 445px;
        height: 512.26px;
    }
    .star-product-details{
        width: 570px;
        padding-top: 4.875rem;
    }
    .star-product-details > h1{
        font-size: 3.85rem;
    }
    .star-infos{
        max-width: 88%;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .star-product-details > button{
        width: 233px;
        height: 78.89px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
        border-radius: 15px;
    }
    .features{
        max-width: 81.5%;
        margin-top: 174.79px;
        margin-bottom: 191.72px;
    }
    .features > p{
        width: 175px;
        height: 48px;
        margin: 0 auto;
        background-color: rgba(243, 250, 251, 1);
        color: rgba(6, 193, 103, 1);
        border: 1px solid rgba(6, 193, 103, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }
    .features > h1{
        margin-top: 12px;
        margin-bottom: 70.66px;
        font-size: 3.75rem;
    }
    .feature-cards{
        justify-content: center;
    }
    .feature-card{
        width: 585px;
        height: 292.5px;
    }
    .feature-card:nth-child(3){
        flex-direction: row-reverse;
    }
    .feature-card:nth-child(4){
        flex-direction: row-reverse;
    }
    .feature-card > img{
        width: 292.5px;
        height: 292.5px;
    }
    .feature-card > .card-details{
        width: 292.5px;
        height: 292.5px;
    }
    .products{
        max-width: 81.5%;
        text-align: left;
        margin-top: 191.72px;
    }
    .products > h1{
        padding: 0;
        font-size: 3.75rem;
        margin-bottom: 3.931875rem;
    }
    .product-cards{
        justify-content: space-between;
    }
    .product-card{
        width: 270px;
        height: 444px;
        margin-top: 0;
        border-radius: 0.8rem;
    }
    .product-card > button{
        border-radius: 0.85rem;
    }
    .explore{
        width: 81.5%;
        height: 458.34px;
        background-image: url(./images/explore-bg\(larg\).png);
        border-radius: 1rem;
        background-size: cover;
        padding: 6.865rem 10.875rem;
    }
    .explore > h1{
        font-size: 3.75rem;
    }
    .explore > button{
        width: 210px;
        border-radius: 1rem;
    }
    footer{
        max-width: 81.5%;
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 5rem;
        padding-bottom: 2.2rem;
    }
    footer > .shop-details{
        width: 284px;
        height: 208.68px;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    footer > .shop-details > .social-links{
        justify-content: start;
    }
    footer > .about{
        margin: 0
    }
    footer > .company{
        margin: 0
    }
    footer > .get-in-touch{
        width: 338px;
        height: 194.72px;
        margin: 0;
        align-items: flex-start;
    }
    footer .get-in-touch > p{
        text-align: left;
        margin-bottom: 2.28rem;
    }
    footer .subscription{
        width: 338px;
        height: 49.93px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    footer .subscription > input{
        width: 205px;
        border-radius: 0.75rem;
        height: 49.93px;
    }
    footer .subscription > button{
        width: 118px;
        height: 49.93px;
        border-radius: 0.75rem;
    }
    footer > p{
        width: 81.5%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
}