@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@media screen and (max-width: 581px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    font-family: "Inter" , sans-serif;
}
.hero{
    width: 375px;
    height: 1057px;
    background-color: rgba(243, 252, 247, 1);
    display: flex;
    flex-direction: column;
}
.hero-header{
    display: flex;
    justify-content: space-between;
}
.hero-header > .logo{
    width: 120px;
    height: 39px;
    color: rgba(6, 193, 103, 1);
    font-size: 32px;
    font-weight: 500;
    position: relative;
    top: 24px;
    left: 30px;
}
nav{
    position: relative;
    Right: 0;
}
nav > ul{
    list-style: none;
    margin-top: 25px;
    margin-right: 28px;
}
nav a{
    text-decoration: none;
    color: #000000;
}
.hero-body{
    display: flex;
    flex-direction: column;
}
.hero-body-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-body-info > h1{
    width: 320px;
    height: 186px;
    color: rgba(29, 29, 31, 1);
    font-size: 51px;
    text-align: center;
    font-weight: 500;
    align-self: center;

}
.hero-body-info > p{
    width: 316px;
    height: 66px;
    color: rgba(29, 29, 31, 1);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    align-self: center;
    line-height: 159%;
    margin-top: 25px;
}
.hero-body-info > button{
    width: 320px;
    height: 68px;
    background-color: rgba(6, 193, 103, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29.5px;
    margin-top: 53px;
    margin-bottom: 47px;
}
.hero-body-info > button > p{
    width: 89px;
    height: 19px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
}
.hero-body-info > button > i{
    width: 22.38px;
    height: 11px;
    padding-top: 4px;
}
.hero-body-img{
    margin-left: 26.99px;
    margin-bottom: 28.18px;
}
.brand1, .brand2, .brand3, .brand4 , .brand5{
    display: block;
} 
.brand4 , .brand5{
    display: none;
}
.brands{
    width: 320px;
    height: 87.37px;
    margin-top: 24px;
    margin-left: 27px;
    position: relative;
}
.brand1{
    width: 123.67px;
    height: 28.59px; 
}
.brand2{
    width: 117.97px;
    height: 23.67px;   
    position: absolute;
    top: 0;
    right: 0;
}
.brand3{
    width: 119.06px;
    height: 27.18px;
    position: absolute;
    bottom: 0;
    left: 100px;
}
.services{
    width: 324px;
    height: 497px;
    margin-left: 27px;
    margin-top: 59.13px;
    border-top: 1px solid rgba(112, 112, 112, 0.5) ;
    border-bottom: 1px solid rgba(112, 112, 112, 0.5);
    position: relative;
}
.service1{
    width: 117px;
    height: 137px;
    position: absolute;
    left: 16px;
    top: 59.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service2{
    width: 148px;
    height: 137px;
    position: absolute;
    left: 176px;
    top: 59.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service3{
    width: 132px;
    height: 137px;
    position: absolute;
    left: 16px;
    bottom: 59.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service4{
    width: 113px;
    height: 137px;
    position: absolute;
    left: 193px;
    bottom: 59.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-icon{
    width: 70px;
    height: 70px;
    background-color: rgba(243, 252, 247, 1);
    border: 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services h4{
    color: rgba(29, 29, 31, 1);
    font-size: 18px;
    font-weight: 400;
    padding-top: 21px;
    padding-bottom: 7px;
}
.services p{
    color: rgba(29, 29, 31, 1);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
}
.benefit{
    width: 320px;
    height: 868.39px;
    margin-top: 38.5px;
    margin-left: 27px;
    display: flex;
    flex-direction: column;
}
.benefit-img{
    width: 320px;
    height: 521px;
    background-color: rgba(243, 250, 251, 1);
    margin-bottom: 57px;
    border: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefit-details > p{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 13px;
}
.benefit-details > h1{
    font-size: 35px;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    text-align: center;
    margin-bottom: 52px;
}
.benefit-checks{
    height: 19.39px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 22px;
    margin-bottom: 20.61px;
}
.benefit-checks > p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
}
.star-product{
    width: 324px;
    height: 1192px;
    margin-left: 23px;
    margin-top: 69.61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.star-img{
    width: 320px;
    height: 521px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(243, 250, 251, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-product > p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 13px;
}
.star-product > h1{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 53px;
}
.star-info{
    width: 137px;
    height: 82px;
    border: 0;
    margin-bottom: 39px;
}
.star-info > h1{
    color:rgba(6, 193, 103, 1) ;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}
.star-info > p{
    color: rgba(29, 29, 31, 1);
    font-size: 15px;
    font-weight: 400;
    opacity: 0.7;
}
.star-product > button{
    width: 320px;
    height: 68px;
    background-color: rgba(6, 193, 103, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 66px;
    text-align: center;
}
.star-product > button > p{
    width: 140px;
    height: 19px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
}
.features{
    width: 320px;
    height: 2520px;
    margin-top: 129px;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features > p{
    font-size: 15px;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 13px;
}
.features > h1{
    font-size: 35px;
    font-weight: 500px;
    color: rgba(29, 29, 31, 1);
    text-align: center;
    margin-bottom: 65px;
}
.feature-card{
    width: 320px;
    height: 585px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-card > img{
    width: 320px;
    height: 292.5px;
}
.card-details{
    height: 292.5px;
    background-color: rgba(240, 241, 236, 1);
    border: 1px solid rgba(6, 193, 103, 1);
    display: flex;
    flex-direction: column;
}
.card-details > h1{
    font-size: 32px;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-top: 37.5px;
    margin-bottom: 25px;
    margin-left: 38px;
}
.card-details > p{
    width: 194px;
    height: 38px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 38px;
    margin-bottom: 37.5px;
}
.card-details > button{
    width: 148px;
    height: 42px;
    background-color: rgba(240, 237, 226, 1);
    color: rgba(6, 193, 103, 1);
    border: 0;
    border-radius: 5px;
    margin-left: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.products{
    width: 320px;
    height: 2074px;
    margin-left: 27px;
    margin-top: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products > p{
    font-size: 15px;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 13px;
}
.products > h1{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
}
.product-card{
    width: 320px;
    height: 445px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(118, 118, 117, 0.25);
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-card > img{
    width: 190px;
    height: 190px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.product-card > h1{
    font-size: 20px;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
    margin-top: 21.42px;
    margin-bottom: 25px;
}
.product-card > .prices{
    width: 85px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 29px;
}
.price-1{
    color: rgba(118, 118, 117, 1);
    text-decoration: line-through;
    opacity: 0.4;
}
.price-2{
    color: rgba(6, 193, 103, 1);
}
.product-card > button{
    width: 177px;
    height: 57px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(6, 193, 103, 1);
    border: 2px solid rgba(6, 193, 103, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.explore{
    width: 375px;
    height: 459px;
    background-image: url(./images/explore-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
}
.explore > h1{
    width: 293px;
    height: 126px;
    font-size: 35px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.explore > button{
    width: 293px;
    height: 79px;
    background-color: rgba(6, 193, 103, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    text-align: center;
}
.explore > button >p{
    font-size: 16px;
    font-weight: 400;
}
footer{
    width: 375px;
    height: 1291px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
footer > .shop-details{
    width: 277px;
    height: 206.98px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer > .shop-details > h1{
    width: 120px;
    height: 39px;
    color: rgba(6, 193, 103, 1);
    font-size: 32px;
    font-weight: 500;
}
footer > .shop-details > p{
    width: 277px;
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
footer > .shop-details > .social-links{
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer > .about{
    width: 107px;
    height: 194px;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 79.02px;
}
footer > .company{
    width: 110px;
    height: 194px;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
footer h1{
    font-size: 24px;
    font-weight: 500;
    color: rgba(29, 29, 31, 1);
    margin-bottom: 41px;
}
footer .links{
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer .links > a{
    font-size: 16px;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
    text-decoration: none;
}
footer .get-in-touch{
    width: 320px;
    height: 261px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
footer .get-in-touch > p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
    text-align: center;
    margin-bottom: 39px;
}
footer .subscription{
    width: 320px;
    height: 114px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .subscription > input{
    height: 54px;
    background-color: rgba(240, 241, 236, 1);
    color: rgba(29, 29, 31, 1);
    text-align: center;
    border: 0;
}
footer .subscription > button{
    width: 320px;
    height: 50px;
    background-color: rgba(6, 193, 103, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    align-self: center;
    text-align: center;
}
footer .subscription > button > p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
footer > p{
    font: 16px;
    font-weight: 400;
    color: rgba(29, 29, 31, 1);
    align-self: center;
    margin-top: 81px;
}
}